@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

/* .visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  } */

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background-color: #FEAFC3;
  margin: 0;
  width: 100%;
}

.main_container {
  max-width: 1170px;
  margin: 0 auto;
}

.title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2D3440;
}

/* header */

.navigation_address {
  font-weight: 700;
  font-style: normal;
}

.navigation_user_button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FCFCFC4D;
  border: none;
  border-radius: 30px;
}

/* main */

/* slider */

.slider_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider_title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #2D3440;
}

.slider_desc {
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
}

.slider_link {
  text-decoration: none;
  font-weight: 700;
  background-color: #FCFCFC;
  color: #2D3440;
  border: 4px solid red;
  border-radius: 46px;
}

/* additionally_offer */

.offer_item {
  background: #FF7799 no-repeat scroll right;
}

.offer_item:nth-child(1) {
  background-image: url("../images/index/raspberry_waffle.png");
}

.offer_item:nth-child(2) {
  background-image: url("../images/index/marshmallow_waffle.png");
}

/* popular_flavors */

.popular_flavors_item {
  background-color: #FCFCFC;
}

.popular_flavors_button {
  background-color: #FF2F64;
}

/* advantages */

.advantages {
  border: 24px solid yellow;
  border-radius: 16px;
  border-image: url("/images/backgrounds/border_waffle.png") 10 round;
  background-color: #FFFFFF;
}

.advantages_text::before {
  /* ??????? */
  content: "";
  background-image: url("../images/icons/ice_cream.svg");
}

/* blog */

.blog {
  background: #FFFFFF url("/images/backgrounds/blog_background.jpg") no-repeat;
}

/* subscribe */

.subscribe {
  background-color: #FFFFFF;
  border: 6px solid #FFFFFF;
  border-radius: 16px;
  border-image: url("/images/backgrounds/border_post.png") 10 round;
}

/* delivery */

.delivery {
  background: #FFFFFF url("/images/backgrounds/delivery_background.jpg") no-repeat right;
}

/* address */

.address {
  background: #e3e1e1 url("/images/backgrounds/address_background.jpg") no-repeat right;
}

.address_desc {
  background-color: #FCFCFC;
}

.address_button {
  background-color: #FF2F64;
  color: #FCFCFC;
}

/* footer */

.footer_block_group::before {
  content: "";
  background-image: url("/images/icons/black_heart.svg");
}


/* ice_cream.html */

/* catalog_products */

.product_card {
  background-color: #FCFCFC;
}

.product_card_button {
  background-color: #FF2F64;
}
